.controller {
  @include display-flex;
  position: relative;
  width: 100vw;
  justify-self: center;
  z-index: 10;

  div {
    background-color: var(--grey-1-color);
    border-radius: 50px;
    cursor: pointer;

    p {
      display: inline-block;
      padding: rem(5) rem(8);
      margin: rem(5) 0;
      border-radius: 50px;

      &:last-of-type {
        margin-right: rem(5);
      }

      &:first-of-type {
        margin-left: rem(5);
      }

      &.active {
        background-color: var(--grey-2-color);
      }
    }
  }
}

.switch-button {
  position: absolute;
  right: 15%;
  top: 5%;
  font-size: rem(36);
  z-index: 10;
  cursor: pointer;

  > i {
    @include gradient-text($primary-color, $support-color, bottom);
    position: absolute;
  }

  > .fa-moon {
    transition: all 1s ease-in-out;
  }

  > .fa-sun {
    transition: all 1s ease-in-out;
    opacity: 0;
  }

  &.dark {
    > .fa-moon {
      transition: all 1s ease-in-out;
      transform: rotate(720deg);
      opacity: 0;
    }

    > .fa-sun {
      transition: all 1s ease-in-out;
      opacity: 1;
      transform: rotate(720deg);
    }
  }
}
