$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$highlight-color: var(--highlight-color);
$support-color: var(--support-color);
$white-color: var(--white-color);
$black-color: var(--darkBlue-color);
$text-color: var(--text-color);
$background-color: var(--background-color);
